/* GDM-tools Custom CSS */

#panel .unlock-screen, #panel .login-screen{
    color: #fff;
    background-color: rgba(0,0,0,0.15);
}

#panel, #panel .panel-corner , #panel .panel-button {
    color: #fff;
}
