[Desktop Entry]
Name=7-Zip File Manager
Exec="/home/mazhar/.wine/drive_c/Program Files/7-Zip/7zFM.exe" Z:%f
TryExec=/home/mazhar/.wine/drive_c/Program Files/7-Zip/7zFM.exe
Type=Application
StartupNotify=true
Icon=BE44_7zFM.0
StartupWMClass=7zfm.exe
NoDisplay=true
