[Desktop Entry]
Name=7-Zip File Manager
Exec=wine start /Unix "/home/mazhar/.wine/drive_c/Program Files/7-Zip/7zFM.exe" Z:%f
Type=Application
StartupNotify=true
Icon=BE44_7zFM.0
StartupWMClass=7zfm.exe
NoDisplay=true
