# Static information about the filesystems.
# See fstab(5) for details.

# <file system> <dir> <type> <options> <dump> <pass>
# /dev/sda6 LABEL=Manjaro
UUID=e082aad4-9bba-49d4-b578-3790ad9feb2b /              ext4    defaults,noatime 0 1

# /dev/sda1 LABEL=EFI
UUID=9AB5-BF2D                            /boot/efi      vfat    umask=0077 0 2

# /dev/sda4 LABEL=swap
UUID=6db755c0-a09b-4833-95d2-c2fa9b3a7aaf	none      	swap      	defaults  	0 0

# Data Drives
# <file system> <mount point> <type>    <options>  <dump> <pass>
   LABEL=Data    /mnt/Data     auto   x-gvfs-show   0      0
#   LABEL=Windows\04010 /mnt/Windows\04010 ntfs3 x-gvfs-show,noauto 0 0
