[user]
	name = Mazhar Hussain
	email = mmazharhussainkgb1145@gmail.com
	signingKey = 9034E6452420F0BBE1A6D4A5AEEA594E7BAB1C9A
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gui]
	recentrepo = /home/mazhar/gitapps/config-files
[pull]
	rebase = false
[color]
	ui = true
	status = true
	push = true
[advice]
	detachedHead = false
[commit]
	gpgSign = true
